<!DOCTYPE html>
<html lang="en">


<head>
  <meta charset="utf-8">
  <title>Python Programming Tutorials</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
    crossorigin="anonymous">
  <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
</head>

<body>
  <style>
    * {
      border: 0px solid rosybrown;

      font-family: serif !important;
    }
  </style>

  <div class="row">
    <div class="col-sm" align="center">
      <a class="navbar-brand justify-content-center" style="background-color:darkcyan; width:175px; 
            height:55px; font-size: 35px; 
            -webkit-text-fill-color: white;" href="/templates/index.html">Latitude</a>
    </div>
    <div class="col-sm">
    </div>
    <div class="col-sm-4">
      <nav class="navbar navbar-expand-lg navbar-light bg-white" style="width:100%;">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01"
          aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-end" id="navbarTogglerDemo01">
          <ul class="navbar-nav">
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbardDropdown" role="button" data-toggle="dropdown" aria-haspopup="true"
                aria-expanded="false">
                Plots
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="/templates/max.html">Max Temperature</a>
                <a class="dropdown-item" href="/templates/humidity.html">Humidity</a>
                <a class="dropdown-item" href="/templates/cloudiness.html">Cloudiness</a>
                <a class="dropdown-item" href="/templates/wind_speed.html">Wind Speed</a>
            </div>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/templates/comp.html">Comparison</a>
          </li>
          <li class="nav-item">
              <a class="nav-link" href="/templates/data.html">Data</a>
          </li>
          </ul>
        </div>
      </nav>
    </div>
  </div>

  <div class="container-fluid" align="center" style="background-color:rgb(230, 230, 230); min-height: 900px; height: 100%; padding-top:20px;">
    <div class="container" style="height: 750px; background-color:  white; width:60%; color:darkcyan;">
      <h1 class='text-center mb-3' style=>Comparison: Latitude vs X</h1>
      <div class="row">
        <div class="col-sm-6">
          <h2>vs. Max Temerature</h2>
        </div>
        <div class="col-sm-6">
          <h2>vs. Humidity</h2>
        </div>
      </div>
      <div class="row">
        <img src="/templates/images/Fig1.png" class="rounded mx-auto img-thumbnail" alt="..." style="height:200px;">
        <img src="/templates/images/Fig2.png" class="rounded mx-auto img-thumbnail" alt="..." style="height:200px;">
      </div>

      <div class="row" style="color:darkcyan">
        <div class="col-sm-6">
          <h2>vs. Cloudiness</h2>
        </div>
        <div class="col-sm-6">
          <h2>vs. Wind Speed</h2>
        </div>
      </div>
      <div class="row">
        <img src="/templates/images/Fig3.png" class="rounded mx-auto img-thumbnail" alt="..." style="height:200px;">
        <img src="/templates/images/Fig4.png" class="rounded mx-auto img-thumbnail" alt="..." style="height:200px;">
      </div>



    </div>
  </div>

  </div>


  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
    crossorigin="anonymous"></script>
</body>

<footer class="py-3 bg-dark fixed-bottom" style="border-top-color: darkcyan; border-top-width: 30px">
  <div class="container">
    <p class="m-0 text-center text-white"> Copyright @ My Website 2018</p>
  </div>
</footer>

</html>